html {
      height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background: #090b44; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #090b44 0%, #00001c 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#090b44), color-stop(100%,#00001c)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #090b44 0%,#00001c 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#090b44', endColorstr='#00001c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	font-size: 12px;
	overflow: hidden;
}

#mainDiv{
	width: 100%;
	height: 100%;
}

#loveHeart {
	float: left;
	width:670px;
	height:625px;
}

#garden {
	width: 100%;
	height: 100%;
}

#elapseClock {
	text-align: right;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#words {
	font-family: "sans-serif";
	width: 500px;
	font-size: 24px;
	color:#666;
}

#messages{
	display: none;
	color:red;
}

#elapseClock .digit{
	font-family: "digit";
	font-size: 36px;
}

#loveu{
	padding: 5px;
	font-size: 22px;
	margin-top: 80px;
	margin-right: 120px;
	text-align: right;
	display: none;
	color:#FFD700;
	font-weight:900;
	text-shadow:0 2px 2px rgba(100,100,0,.08);
}

#loveu .signature{
	margin-top: 10px;
	font-size: 20px;
	font-style: italic;
}

#clickSound{
	display:none;
}

#code {
	float: left;
	width: 440px;
	height: 400px;
	color: #999;
	font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
	font-size: 18px;
}

#code .string{
	color: #2a36ff;
}

#code .keyword{
	color: #7f0055;
	font-weight:bold;
}

#code .placeholder{
	margin-left:15px;
}

#code .space{
	margin-left:7px;
}

#code .comments{
	color: #3f7f5f;
}

#copyright{
	margin-top: 10px;
	text-align: center;
	width:100%;
	color:#666;
}

#errorMsg{
	width: 100%;
	text-align: center;
	font-size: 24px;
	position: absolute;
	top: 100px;
	left:0px;
}

#copyright a{
	color:#666;
}
canvas.flare {
	opacity: 0.0;
}
